@model IEnumerable<ShandrewPage.Models.Portafolio>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/home-responsive.css" />
<section class="homebak container">
    <div class="home">
        <div class="info">
            <div class="log">
                <img class="logo img-fluid" src="~/recursos/logo.png" />
                <div class="redes mt-3">
                    <a href="https://twitch.tv/elshandrew" target="_blank">
                        <i class="bi bi-twitch bis"></i>
                    </a>
                    @Html.Raw("<a href='https://www.tiktok.com/@elshandrew' target='_blank'>")
                    <i class="bi bi-tiktok bis"></i>
                    @Html.Raw("</a>")
                    <a href="https://twitter.com/ElShandrew" target="_blank">
                        <i class="bi bi-twitter bis"></i>
                    </a>
                    @Html.Raw("<a href='https://www.youtube.com/@Shandrew' target='_blank'>")
                    <i class="bi bi-youtube bis"></i>
                    @Html.Raw("</a>")
                    <a href="https://www.instagram.com/elshandrew/" target="_blank">
                        <i class="bi bi-instagram bis"></i>
                    </a>
                    <a href="https://discord.com/invite/KtCBAfneRy" target="_blank">
                        <i class="bi bi-discord bis"></i>
                    </a>
                </div>
            </div>
            <div class="infome">
                <div class="mt-4 text-center">
                    <span class="com1">Commissions: <span class="com2">OPEN</span></span>

                </div>
                <div class="mt-2">
                    <span class="desc">Junior Developer | Digital Artist | Vtuber</span>
                </div>
                <div class="mt-2 text-center">
                    <span class="desc">
                        I’m a vtuber helping other vtubers, creating models and props with beautiful designs.
                    </span>
                </div>
                <div class="mt-2 text-center">
                    <span class="desc">About commissions please send an email to</span>

                </div>
                <div class=" mt-2 text-center">
                    <a class="adesc" href="mailto:shandrewcontac@gmail.com">shandrewcontact@gmail.com</a> <span class="desc">or contact me in</span>  <a class="adesc" href="https://twitter.com/ElShandrew">Twitter </a>
                </div>
            </div>
        </div>
        <div class="sandy">

                <img class="shan img-fluid" src="~/recursos/police.png" />

        </div>

    </div>

</section>
<div class="slider">
    <div class="slide-track">
            @foreach (var item in Model)
            {
                <div class="slide">
                    @{
                    byte[] imagenBytes = item.imagen;
                    string base64 = "data:image/png;base64," + Convert.ToBase64String(imagenBytes);
                    <img class="img" src="@base64" alt="@item.nombre">}
                </div>

            }
            @foreach (var item in Model)
            {
                <div class="slide">
                    @{
                        byte[] imagenBytes = item.imagen;
                        string base64 = "data:image/png;base64," + Convert.ToBase64String(imagenBytes);
                        <img class="img" src="@base64" alt="@item.nombre">
                    }
                </div>

            }
    </div>
</div>