@model IEnumerable<ShandrewPage.Models.Portafolio>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/home-responsive.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/home-responsive.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/sweetalert.js"></script>
<section class="homebak container">
    <div class="home">
        <div class="info">
            <div class="log">
                <img class="logo img-fluid" src="~/recursos/logo.png" />
                <div class="redes mt-3">
                    <a href="https://twitch.tv/elshandrew" target="_blank">
                        <i class="bi bi-twitch bis"></i>
                    </a>
                    @Html.Raw("<a href='https://www.tiktok.com/@elshandrew' target='_blank'>")
                    <i class="bi bi-tiktok bis"></i>
                    @Html.Raw("</a>")
                    <a href="https://twitter.com/ElShandrew" target="_blank">
                        <i class="bi bi-twitter bis"></i>
                    </a>
                    @Html.Raw("<a href='https://www.youtube.com/@Shandrew' target='_blank'>")
                    <i class="bi bi-youtube bis"></i>
                    @Html.Raw("</a>")
                    <a href="https://www.instagram.com/elshandrew/" target="_blank">
                        <i class="bi bi-instagram bis"></i>
                    </a>
                    <a href="https://discord.com/invite/KtCBAfneRy" target="_blank">
                        <i class="bi bi-discord bis"></i>
                    </a>
                </div>
            </div>
            <div class="infome">
                <div class="mt-4 text-center">
                    <span class="com1">Commissions: <span class="com2">OPEN</span></span>

                </div>
                <div class="mt-2">
                    <span class="desc">Junior Developer | Digital Artist | Vtuber</span>
                </div>
                <div class="mt-2 text-center">
                    <span class="desc">
                        I’m a vtuber helping other vtubers, creating models and props with beautiful designs.
                    </span>
                </div>
                <div class="mt-2 text-center">
                    <span class="desc">About commissions please send an email to</span>

                </div>
                <div class=" mt-2 text-center">
                    <a class="adesc" href="mailto:shandrewcontac@gmail.com">shandrewcontact@gmail.com</a> <span class="desc">or contact me in</span>  <a class="adesc" href="https://twitter.com/ElShandrew">Twitter </a>
                </div>
            </div>
        </div>
        <div class="sandy">

                <img class="shan img-fluid" src="~/recursos/police.png" />

        </div>

    </div>

</section>

<div class="slider">
    
    <div class="slide-track">
        
            @foreach (var item in Model)
            {
                <div class="slide">
                    @{
                    byte[] imagenBytes = item.imagen;
                    string base64 = "data:image/png;base64," + Convert.ToBase64String(imagenBytes);
                    <img class="img" src="@base64" alt="@item.nombre">}
                </div>

            }
            @foreach (var item in Model)
            {
                <div class="slide">
                    @{
                        byte[] imagenBytes = item.imagen;
                        string base64 = "data:image/png;base64," + Convert.ToBase64String(imagenBytes);
                        <img class="img" src="@base64" alt="@item.nombre">
                    }
                </div>

            }
    </div>
</div>
<section class="commision">
    <h1 class="startcom">How to start<br /> working with me?</h1>
    <div class="framesup">
        <div class="frame">
            <i class="bi bi-envelope-fill icono-frame"></i>
        </div>
        <div class="frametext">
            <h2 class="title"> <span>#1</span> Make a request</h2>
            <p>
                First, make a request by contacting me via <a href="https://shandrewcard.netlify.app/">Social Media</a>, or email <a href="mailto:shandrewcontact@gmail.com"> shandrewcontact@gmail.com</a>, with some details about your project!
                I’ll then give you an estimate,
                and a quote on your project. If we both agree with the quote, we can get then the commission started!
            </p>
        </div>

    </div>
    <div class="framesup">
        
        <div class="frametext">
            <h2 class="title"> <span>#2 </span>Check the Queue</h2>
            <p>
                Check the progress of your order on my Trello queue, or ask me anytime via DMs or email! I’ll reply back to you as soon as I can with details or a progress report.

                I’ll notify you right before work starts so that we can discuss the project further and to ask for your references or other material!
            </p>
        </div>
        <div class="frame">
            <i class="bi bi-card-checklist icono-frame"></i>
        </div>
       
    </div>
    <button  class="button"><i class="bi bi-check2-all"></i><a href="https://trello.com/b/emYsUQNF/shan-queue-3" target="_blank">See the queue</a></button>
    <div class="framesup">
        <div class="frame">
            <i class="bi bi-envelope-fill icono-frame"></i>
        </div>
        <div class="frametext">
            <h2 class="title"> <span>#3</span> Get your Commission</h2>
            <p>
                I’ll draft, revise until you’re happy with them and finish the commission you’ve ordered together with you, and send them via email!
            </p>
        </div>

    </div>
</section>
<section class="formconctac">
    <form id="formularioCorreo" asp-controller="Home" asp-action="SendEmail" class="form-commision" method="post" onsubmit="sendemail(event)">
        <h1>Contact Me</h1>
        <div class="email">
            <input  type="text" id="Name" name="Username" placeholder="Name" required  minlength="2" maxlength="50" />
            <input  type="email" id="EmailAddress" name="to" placeholder="Correo Electrónico" required />
        </div>
        <div class="email">
            <input  hidden="hidden" type="text" id="Subject" name="Subject" placeholder="Subject" value="Commision" />
            <textarea  id="Message" name="Messsage" placeholder="A few details about your project:" required  minlength="10" maxlength="500" ></textarea>
           
        </div>
        <div class="email">
            <input class="button" type="submit" value="Send" id="btn" />
        </div>
        
    </form>
</section>